<!DOCTYPE HTML>
<html>
<head>

	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="vue/utilisateur/identification.css" />
	
</head>

<body>

	<section>
	
		<div class="container">
		
			<div class="Identification">
			
				<h1>Identification</h1>
				
				<form action="index.php?controle=utilisateur&action=identification" method="post">
					<input type="text" name="nom" placeholder="Nom d'utilisateur">
					<input type="password" name="mdp" placeholder="Mot de passe">
					
					<input type="radio" name="mode" value="professeur"> prof<br>
					<input type="radio" name="mode" value="eleve"> eleve<br>
					<input type="submit" name="valider" placeholder="Valider">
				</form>
				
				<!-- <a href="#"> Mot de passe oublié ?</a> -->
				
			</div>
			
		</div>
		
	</section>

</body>

</html> 

