body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

section {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 34, 76, 0.9), rgba(0, 34, 76, 0.9)), url(Z:/fond1.jpg);
	background-size: cover;
	background-position: center;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 340px;
	text-align: center;
	border: 1px solid black;
	border-radius: 30px;
}

.Identification {
	position: relative;
	box-sizing: border-box;
	padding: 60px 30px;
	transition: 0.5s;
}

.Identification:hover {
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
}

h1 {
	margin: 0 0 20px;
	color: #fff;
	font-size: 30px;
}

.Identification input {
	display: block;
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	border-radius: 25px;
	outline: none;
	font-size: 12px;
	color: #fff;
	border: none;
	background: rgba(255, 255, 255, 0.1);
}

.Identification input::placeholder {
	color: #fff;
}

.Identification input[type="submit"] {
	color: #fff;
	background: #0072ff;
	font-size: 14px;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

.Identification input[type="submit"]:hover {
	background: #005aca;
}

.Identification a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}





	
	
	