<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>accueil </title>
</head>

<body>


<h3> 	Bienvenue professeur
				<?php 
					printf ('M. %s', $nom);
				?>
</h3>


<a href="index.php?controle=professeur&action=deconnexion">
	Deconnexion
</a><br/>

<a href="index.php?controle=professeur&action=changerEtatTest">
	Voir état des tests
</a><br/>

<a href="index.php?controle=professeur&action=ajoutTest">
	Ajouter test
</a><br/>


</body></html>
