<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>accueil </title>
</head>

<body>


<h3> 	Bienvenue élève
				<?php 
					printf ('M. %s', $nom);
				?>
</h3>



</body></html>
